<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @game.winner %>
</p>

<p>
  <strong>Score1:</strong>
  <%= @game.score1 %>
</p>

<p>
  <strong>Score2:</strong>
  <%= @game.score2 %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @game.comment %>
</p>

<p>
  <strong>Deck:</strong>
  <%= @game.deck %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
